* {
    padding: 0;
    margin: 0;
}

nav {
    width: 100%;
    background-color: #1a1818;
}

.search {
    border: 1px solid white;
    padding: 4px 15px 4px 15px;
    border-radius: 5px;

}


.search input {
    background: none;
    border: none;
    color: #fff;

}

.search input::placeholder {
    color: #fff;
    font-size: 0.9rem;
    font-style: italic;
}

.search input:focus {
    outline: none;
}

.search button {
    border: none;
    background: none;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    border: none;
    outline: none !important;
}

#myNav ul li a {
    font-style: italic;
}

#myNav ul li a:hover {
    color: #fff;
    transition: 1s all ease-in-out;
    transform: translateY(2px);
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
    border-radius: 30px;
    font-style: normal;
}

header {
    height: 80vh;
    background: url(pexels-kai-pilger-1128440.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    animation: header infinite 7s normal running;
}

@keyframes header {
    0% {
        background: url(pexels-cristian-benavides-2049411.jpg);
        background-position: center;
        background-size: cover;


    }

    50% {
        background: url(pexels-tima-miroshnichenko-4988139.jpg);
        background-position: center;
        background-size: cover;


    }

    100% {
        background: url(pexels-kai-pilger-1128440.jpg);
        background-position: center;
        background-size: cover;
    }

}

header .backdrop {
    height: 80vh;
    background: rgba(0, 0, 0, 0.641);
}

header .backdrop h1 {
    color: #fff;
    font-size: 3rem;
}

header .backdrop .header-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

.header-con button {
    background: transparent;
    color: #fff;
    font-weight: bold;
    border: 1px solid white;
    padding: 20px;
    border-radius: 4px;
}

.header-con button:hover {
    background-color: white;
    border: none;
    color: #000000;
}

.header-con p {
    color: #bebcbc;
}

.card {
    border: none;
    background: transparent;
}

.card h1 {
    color: #bebcbc;
    font-size: 2rem;
}

section {
    background-color: #0e0b0b;
    padding: 40px 0 60px 0;
    box-sizing: border-box;


}

section h2 {
    text-align: center;
    font-weight: lighter;
    font-size: 1.5rem;
    padding: 12px 0 12px 0;
    color: #dddada;
}

section .section-content {
    padding: 12px 0;
    background: #1a1818;
    width: 90%;
    margin: auto;
    border-radius: 5px;
}

section .section-content>div {
    margin-bottom: 20px
}

section .section-content button {
    padding: 13px;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-style: italic;

}

section .section-content button:hover {
    transition: 1s all ease-out;
    border: none;
    color: #000000;
    background: white;
    transform: translateY(6px);
}

section .section-content .smhouse {
    padding-right: 20px;
}

section .section-content .sectionmore {
    color: #bebcbc;
    width: 5%;
    font-size: 2rem;
    margin: 0 0 0 auto;
}


section .section-content .sectionmore:hover {
    background: linear-gradient(20deg, #1b1a1a, #323131);
    transition: 1s all ease-out;
    transform: translateY(10px);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
}

section .section-content .sectionmore a {
    text-decoration: none;
    color: #bebcbc;
}

section .section-content .sectionmore a:hover {
    transition: 1s all ease-in-out;
    color: white;


}

.section2 {
    background-color: #1a1818;
    padding: 0;
    padding: 40px 0 35px 0;
    box-sizing: border-box;
    animation: section2 infinite 6s running normal;
}

@keyframes section2 {
    0% {
        background-image: url(light-black-and-white-white-night-atmosphere-darkness-90773-pxhere.com.jpg);
        background-position: center;
        background-size: cover;
    }

    50% {
        background: url(man-black-and-white-people-technology-road-street-596539-pxhere.com.jpg);

    }

    100% {
        background: url(light-black-and-white-white-night-atmosphere-darkness-90773-pxhere.com.jpg);
        background-position: center;
        background-size: cover;
    }


}

.section2child {
    width: 90%;
    margin: 0 auto;
    background-color: #0e0b0b;
    border-radius: 5px;
    padding: 40px 0 40px 0;
    box-sizing: border-box;
}

.section2child>div {
    margin-bottom: 10px;
}

.section2child>div button {
    background: none;
    border: 1px solid #fff;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    color: white;
    border-radius: 5px;
    width: 60%;
}

.section2child>div button:hover {
    transition: 1s ease-out all;
    transform: translateY(5px);
    background: #fff;
    border: none;
    color: black;

}

.section3 .section3row {
    width: 90%;
    margin: 0 auto;

}

.section3 .section3row>div {
    margin-bottom: 30px;
}

.section3 .section3row h1 {

    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 12px 0 12px 0;
    color: #dddada;
}

.section3 .section3row p {
    color: #bebcbc;
    font-size: 0.9rem;
}


.section3 .section3row .card button {
    padding: 13px;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-style: italic;

}

.section3 .section3row .card button:hover {
    transition: 1s all ease-out;
    border: none;
    color: #000000;
    background: white;
    transform: translateY(6px);
}

.section3 .section3row .btn a {
    text-decoration: none;
    color: #dddada;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.section3 .section3row .btn {
    padding: 13px;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-style: italic;
}

footer {
    width: 100%;
    background-color: #000000;
    padding-top: 10px;
}

footer .socialhandles {
    width: 50%;
    padding: 10px 0;
    margin: 0 auto;
    border: 1px solid #323131;
    background-color: #0e0b0b;
    border-radius: 10px;
}

footer .socialhandles:hover {
    transition: 1s all ease-in;
    background-color: #fff;
    color: #000000;
    transform: translateY(10px);
}

footer .socialhandles a {
    color: #bebcbc;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 30px 0 30px;
}

footer .socialhandles a:hover {
    transition: 1s all ease-out;
    color: #000000;
    transform: translateX(5px);
}

footer .footerrow {
    width: 90%;
    margin: 0 auto;
    background-color: #1a1818;
    padding-top: 30px;
}

footer .footerrow>div h1 {
    font-size: 1.5rem;
    color: #bebcbc;


}

footer .footerrow>div ul li {
    list-style: none;
    line-height: 3;


}

.footerrow>div ul li a {
    text-decoration: none;
    color: #989696;

}

.footerrow>div ul li a:hover {
    transition: 1s all ease-in-out;
    transform: translateY(10px);
    color: #fff;
    font-weight: bold;

}

.copyright {
    padding: 10px 0;
}

.copyright p {
    color: #bebcbc;
}

@media screen and (max-width:990px) {
    #myNav ul li a:hover {
        border: none;
        border-radius: none;
        padding-left: 20px;

    }

}

@media screen and (max-width:736px) {
    .section2child {
        background: none;
    }

    .section2child>div button {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:400px) {
    nav {
        padding-left: 10px;
        box-sizing: border-box;
    }

    .search {
        width: 90%;
        margin: 0 auto;
    }

    .search input {
        width: 60%;
    }

    .search button {
        width: 40%;
    }

}