* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: icon;
    src: url(fonts/Decision\ Making.ttf);
}

header {
    width: 100%;
    background: url(images/pexels-karolina-grabowska-5706270.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

h1 {
    border: 20px solid #9f816a;
    border-top: none;
    border-right: none;
    border-bottom: #c2a580;
    width: 10%;
    text-align: left;
    padding-left: 3px;
    margin-left: 10px;
    border-radius: 40px 40px 80px 80px;
}

h1 a {
    text-decoration: none;
    color: #c2a580;
    font-size: 2rem;
    font-family: icon;
    text-align: center;
    font-style: italic;

}

header .rod {
    position: relative;
    padding-top: 60px;

}

header .rod1 {
    width: 40%;
    height: 20vh;
    border: 1px solid black;
    margin: auto;
    animation: rod1 infinite 6s running normal;
}

@keyframes rod1 {
    0% {
        background: url(images/pexels-adrienne-andersen-2347642.jpg);
        background-position: center;
        background-size: cover;
    }

    50% {
        background: url(images/pexels-gratisography-4414.jpg);
        background-position: center;
        background-size: cover;
    }

    100% {
        background: url(images/pexels-ekaterina-belinskaya-4700391.jpg);
        background-position: center;
        background-size: cover;
    }
}

header .rod2 {
    width: 40%;
    height: 20vh;
    transform: rotate(90deg);
    border: 1px solid black;
    margin: auto;
    position: absolute;
    left: 250px;
    animation: rod2 infinite 6s running normal;

}

@keyframes rod2 {
    0% {
        background: linear-gradient(45deg, #786b58, #c2a580);
        background-position: center;
        background-size: cover;
    }

    50% {
        background: url(images/pexels-adrienne-andersen-2347642.jpg);
        background-position: center;
        background-size: cover;
    }

    100% {
        background: url(images/pexels-gratisography-4414.jpg);
        background-position: center;
        background-size: cover;
    }
}

header .rod3 {
    width: 40%;
    height: 20vh;
    transform: rotate(90deg);
    border: 1px solid black;
    margin: auto;
    position: absolute;
    right: 250px;
    animation: rod3 infinite 6s running normal;
}

@keyframes rod3 {
    0% {
        background: url();
    }

    50% {
        background: url();
    }

    100% {
        background: url();
    }
}

header .rod4 {
    width: 40%;
    height: 20vh;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 90px;
    animation: rod4 infinite 6s running normal;
}

@keyframes rod4 {

    0% {
        background: url(images/pexels-ekaterina-belinskaya-4700391.jpg);
        background-position: center;
        background-size: cover;
    }

    50% {
        background: url(images/pexels-adrienne-andersen-2347642.jpg);
        background-position: center;
        background-size: cover;
    }

    100% {
        background: url(images/pexels-gratisography-4414.jpg);
        background-position: center;
        background-size: cover;
    }
}

header p {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 80px;
    font-size: 3rem;
    font-weight: bold;
    color: #786b58;

}


@media screen and (max-width:782px) {
    header p {
        padding-top: 100px;
    }
}

@media screen and (max-width:638px) {
    header p {
        padding-top: 70px;
        font-size: 2rem;
        padding-bottom: 60px;
    }

}

@media screen and (max-width:434px) {
    header .rod {
        width: 100%;
    }

    header p {
        font-size: 1.3rem;
    }

    header .rod2 {
        width: 30%;
        height: 20vh;
        transform: rotate(0deg);
        position: unset;


    }

    header .rod3 {
        width: 30%;
        height: 20vh;
        transform: rotate(0deg);
        position: unset;

    }

    header .rod4 {
        margin-top: 0;
    }
}