.grid {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
}

.grid>div {
    border: 2px solid red;
}

.grid .navvv nav {
    height: 10vh;
    background-color: black;
    position: fixed;
    top: 0;
}